                        #page {
                        background-color: rgb(136, 138, 139);
                        text-decoration: dotted;
                        text-shadow: 10px;
                        border-color: red;
                        text border: color: ;