* {
    text-align: center;
}

h1 {
    color: yellow !importment;
    background-color: black;
}

body {
    background-color: pink;
}

.aniket {
    color: gray;
}

.anant {
    color: red;
    text-align: center;
}

#darling {
    color: blueviolet;
    text-align: center;
}

color: blueviolet;

}