   * {
       padding: 0px;
       margin: 0px;
       box-sizing: border-box;
   }
   
   header {
       background-color: blue;
       display: flex;
       justify-content: space-between;
       width: 100vw;
       height: 50px;
       align-items: center;
   }
   
   input {
       width: 71%;
       height: 30px;
   }
   
   div {
       color: white;
   }
   
   header h1 {
       color: white;
       padding-bottom: 5px;
   }
   
   img {
       height: 30px;
       padding-left: 10px;
   }
   
   ul {
       background-color: white;
       display: flex;
       list-style: none;
       gap: 20px;
       padding: 10px;
   }
   
   #fk {
       height: 350px;
       width: 80%;
       margin: auto;
       padding: 2%;
       border: solid 1px white;
       align-items: center;
       margin-top: 2%;
       background-color: white;
       border-radius: 5px;
       box-shadow: 3px 5px 10px lightgrey;
   }
   
   #fk>h1 {
       color: blue;
       margin-top: 20px;
       align-items: center;
       text-align: center;
       font-size: 50px;
   }
   
   #fk>p {
       color: black;
       display: flex;
       justify-content: center;
       font-size: large;
   }
   
   body {
       background-color: #f0f6ff;
       width: 100vw;
   }
   
   .card1 {
       border: solid 1px white;
       display: flex;
       flex-direction: column;
       height: 100px;
       width: 200px;
       color: black;
       text-align: center;
       align-content: center;
       justify-content: space-evenly;
       border-radius: 5px;
       box-shadow: 2px 3px 5px lightgray;
   }
   
   .card2 {
       border: solid 1px white;
       display: flex;
       flex-direction: column;
       height: 100px;
       width: 200px;
       color: black;
       text-align: center;
       align-content: center;
       justify-content: space-evenly;
       border-radius: 5px;
       box-shadow: 2px 3px 5px lightgray;
   }
   
   .card3 {
       border: solid 1px white;
       display: flex;
       flex-direction: column;
       height: 100px;
       width: 200px;
       color: black;
       text-align: center;
       align-content: center;
       justify-content: space-evenly;
       border-radius: 5px;
       box-shadow: 2px 3px 5px lightgray;
   }
   
   .card4 {
       border: solid 1px white;
       display: flex;
       flex-direction: column;
       height: 100px;
       width: 200px;
       color: black;
       text-align: center;
       align-content: center;
       justify-content: space-evenly;
       border-radius: 5px;
       box-shadow: 2px 3px 5px lightgray;
   }
   
   main {
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   
   .card1 h3 {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       text-align: center;
   }
   
   .card2 h3 {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       text-align: center;
   }
   
   .card3 h3 {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       text-align: center;
   }
   
   .card4 h3 {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       text-align: center;
   }
   
   .footer {
       background-color: black;
       color: white;
       display: flex;
       gap: 30px;
       margin-top: 2%;
       width: 100%;
       padding: 40px 60px;
       align-items: center;
       justify-content: space-around;
   }
   
   .footer h4 {
       margin-bottom: 10px;
       font-size: 15px;
       color: white;
   }
   
   .footer a {
       display: block;
       text-decoration: none;
       margin-bottom: 6px;
       font-size: 13px;
       color: gray;
   }
   
   footer {
       background-color: black;
       color: white;
       padding: 10px;
       text-align: center;
       width: 100vw;
   }